# top-most EditorConfig file
root = true

[*]
end_of_line = crlf
dotnet_style_readonly_field = true:suggestion
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
tab_width = 4
indent_size = 4

[*.{cs,xaml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
[*.cs]
#### Adlandýrma stilleri ####

# Adlandýrma kurallarý

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Sembol belirtimleri

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Adlandýrma stilleri

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
csharp_space_around_binary_operators = before_and_after
csharp_using_directive_placement = outside_namespace:silent
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_prefer_static_local_function = true:suggestion
csharp_indent_labels = one_less_than_current

[*.vb]
#### Adlandýrma stilleri ####

# Adlandýrma kurallarý

dotnet_naming_rule.interface_should_be_i_ile_baþlar.severity = suggestion
dotnet_naming_rule.interface_should_be_i_ile_baþlar.symbols = interface
dotnet_naming_rule.interface_should_be_i_ile_baþlar.style = i_ile_baþlar

dotnet_naming_rule.türler_should_be_baþ_harfleri_büyük_olmak_üzere_bitiþik.severity = suggestion
dotnet_naming_rule.türler_should_be_baþ_harfleri_büyük_olmak_üzere_bitiþik.symbols = türler
dotnet_naming_rule.türler_should_be_baþ_harfleri_büyük_olmak_üzere_bitiþik.style = baþ_harfleri_büyük_olmak_üzere_bitiþik

dotnet_naming_rule.alan_olmayan_üyeler_should_be_baþ_harfleri_büyük_olmak_üzere_bitiþik.severity = suggestion
dotnet_naming_rule.alan_olmayan_üyeler_should_be_baþ_harfleri_büyük_olmak_üzere_bitiþik.symbols = alan_olmayan_üyeler
dotnet_naming_rule.alan_olmayan_üyeler_should_be_baþ_harfleri_büyük_olmak_üzere_bitiþik.style = baþ_harfleri_büyük_olmak_üzere_bitiþik

# Sembol belirtimleri

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.türler.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.türler.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.türler.required_modifiers = 

dotnet_naming_symbols.alan_olmayan_üyeler.applicable_kinds = property, event, method
dotnet_naming_symbols.alan_olmayan_üyeler.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.alan_olmayan_üyeler.required_modifiers = 

# Adlandýrma stilleri

dotnet_naming_style.i_ile_baþlar.required_prefix = I
dotnet_naming_style.i_ile_baþlar.required_suffix = 
dotnet_naming_style.i_ile_baþlar.word_separator = 
dotnet_naming_style.i_ile_baþlar.capitalization = pascal_case

dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.required_prefix = 
dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.required_suffix = 
dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.word_separator = 
dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.capitalization = pascal_case

dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.required_prefix = 
dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.required_suffix = 
dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.word_separator = 
dotnet_naming_style.baþ_harfleri_büyük_olmak_üzere_bitiþik.capitalization = pascal_case
