<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="Soferity.Taiizor.Lunox"
    Publisher="CN=BAEB534D-BC36-4432-8EEF-E0088D896FB9"
    Version="1.0.13.0" />

  <mp:PhoneIdentity PhoneProductId="0f003e1b-f4c4-4dca-b16e-a2fb83c3c4a3" PhonePublisherId="35d623ac-ca3f-4961-b357-4907d492d2d2"/>

  <Properties>
    <DisplayName>Lunox</DisplayName>
    <PublisherDisplayName>Taiizor</PublisherDisplayName>
    <Logo>Assets\App\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Lunox.App">
      <uap:VisualElements
        DisplayName="Lunox"
        Square150x150Logo="Assets\App\MediumTile.png"
        Square44x44Logo="Assets\App\AppLogo.png"
        Description="Lunox"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\App\WideTile.png" Square71x71Logo="Assets\App\SmallTile.png" Square310x310Logo="Assets\App\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\App\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/>
        </uap:InitialRotationPreference>
        <uap:LockScreen BadgeLogo="Assets\App\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <uap:Capability Name="picturesLibrary"/>
    <uap:Capability Name="videosLibrary"/>
    <Capability Name="internetClient"/>
    <uap:Capability Name="musicLibrary"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="objects3D"/>
    <DeviceCapability Name="webcam"/>
  </Capabilities>
</Package>